:root {
  --global-width: 1000px;
  --margin-center: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

section {
  background: #000;
}

/* navigation bar */

nav {
  max-width: var(--global-width);
  margin: var(--margin-center);
}

#header-logo {
  color: #fff;
  margin: 0 5px;
}

.navigation-flex-container {
  min-height: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-flex-container span {
  font-size: 24px;
  font-weight: 800;
}

.links-flex-list {
  width: 300px;
  display: flex;
  justify-content: space-between;
  list-style: none;

  margin: 0 5px;
}

.links-flex-list li a {
  text-decoration: none;
  color: #fff;
}

/* hero section */

#hero {
  background-color: #1f2937;
  padding: 120px 5px;
}

.hero-flex-container {
  max-width: var(--global-width);
  margin: var(--margin-center);

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.hero-text-container {
  max-width: 650px;
  padding: 10px 0;
}

.hero-flex-container h1 {
  font-size: 48px;
  font-weight: 800;
}

.hero-flex-container p {
  font-size: 18px;
}

.hero-flex-container button {
  font-size: 18px;
  background-color: #3882f6;
  color: #fff;

  border: solid 0;
  border-radius: 5px;

  padding: 5px 25px;
  margin: 10px 0;
}

.hero-img-container {
  height: 180px;
  width: 320px;

  background-image: url("./media/images/elementor-placeholder-image-3610342416");
  background-size: cover;
  background-position: center;
}
.hero-img-container img {
  height: 0;
  width: 0;
}

/* info section */

#information {
  background: #fff;
  text-align: center;
  margin-bottom: 80px;
}

#information h3 {
  margin: 20px;
  font-size: 36px;
  font-weight: 800;
}

.info-flex-container {
  max-width: var(--global-width);
  margin: var(--margin-center);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.info-flex-items {
  width: 250px;
  margin: 20px 0;
}

.info-square {
  width: 150px;
  height: 150px;
  margin: var(--margin-center);
  border: solid #3882f6 5px;
  border-radius: 25px;
}
/* inspiration section */

#inspiration {
  background-color: #e5e7eb;
  padding: 5px;
}

.inspiration-flex-container {
  max-width: var(--global-width);
  min-height: 400px;

  margin: var(--margin-center);

  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

.inspiration-flex-container p {
  font-size: clamp(24px, 7vw, 36px);
  font-style: italic;
}

.inspiration-flex-container p {
  margin: 10px 0;
}

/* call to action section*/

#call-to-action {
  background-color: #fff;
  max-width: var(--global-width);
  margin: var(--margin-center);
}

.call-to-action-flex-container {
  margin: 100px 20px;
  padding: 20px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  background-color: #3882f6;
  border-radius: 5px;
}

.call-to-action-flex-container h5 {
  font-size: 18px;
}

.call-to-action-button button {
  font-size: 18px;
  background-color: #3882f6;
  padding: 5px 25px;
  margin: 5px;
  border-radius: 5px;
}

/* footer */
footer {
  text-align: center;
  background-color: #1f2937;
  padding: 30px;
}

@media (max-width: 979px) {
  #hero {
    text-align: center;
  }
}
