* {
  padding: 0;
  margin: 0;
}

header {
  text-align: center;
}

h1 {
  margin-top: 80px;
  font-size: clamp(60px, 5vw, 80px);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 80vh;
  flex-direction: column;
  justify-content: space-evenly;
}

.column {
  height: 100%;
  flex-direction: column;
}

.warp {
  flex-wrap: wrap;
}

.btn-container {
  margin: 10px;

  width: clamp(100px, 16vw, 300px);
  height: clamp(100px, 16vw, 300px);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
}

#rock {
  background-image: url("./media/images/rock-svgrepo-com.jpg");
}

#paper {
  background-image: url("./media/images/paper-stack-stationery-svgrepo-com.jpg");
}

#scissors {
  background-image: url("./media/images/scissors-svgrepo-com.jpg");
}

button {
  width: inherit;
  height: inherit;

  border-radius: 25px;
  border: none;

  opacity: 0;
}

button:hover {
  opacity: 0.3;
}

#scoreboard {
  text-align: center;
}

.card {
  width: clamp(300px, 30vw, 550px);
  height: 200px;
  margin: 5px 5px 0 5px;

  border: solid black 1px;
  border-radius: 25px;

  font-size: 60px;
  text-align: center;
}

.card-head {
  border-bottom: solid black 1px;
}

.card-body {
  height: calc(100% - 70px);
}

.relative {
  position: relative;
  top: -120px;
}

#outcome-msg {
  position: absolute;

  font-size: clamp(180px, 18vw, 320px);
}

.hidden {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.exposed {
  opacity: 1;
}

.red {
  background-color: #db2727;
}

@media screen and (max-width: 622px) {
  h1 {
    margin-top: 0px;
  }

  .relative {
    top: 0;
  }

  #outcome-msg {
    height: 458px;
    top: -450px;
  }
}
