:root {
  --name-height: 60px;
}
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #37b5bc, #375ec8);
  background-repeat: no-repeat;

  text-align: center;
}

h1 {
  font-size: 100px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

#fizz .flex-container,
#buzz .flex-container {
  width: 200px;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  border: solid black 1px;
}

span.name {
  font-size: 50px;
}

span.num {
  margin: auto;
  font-size: 100px;
  font-weight: bold;
}

.print-container {
  min-width: 400px;
}

button {
  width: 20px;
  height: 20px;
}

.back {
  position: absolute;
  bottom: 10px;
}
